.head{
    width: 100%;
    background-color: none;
    position: absolute;
    z-index: 100;
}
.header_filling {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15 -15px;
    border-bottom: 1px solid #fff;
    border-radius: 1px;
    @media (max-width:1200px) {
    border-bottom: none;
    }
    .logo {
        font-size: 24px;
        @media (max-width:810px){
            // margin-top: 45px;
            // margin-bottom: 45px;
            margin: 45px auto ; 
        }
    }
    .header_list {
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        margin: 0 15px;
        @media (max-width:810px){
        display: none;
        }
        .header_list-item {
            margin-top: 45px;
            margin-bottom: 45px;
            margin-left: 48px;
            position: relative;
            cursor: pointer;
            transition: all 0.1s;
            &:first-child{
                margin-left: 0;
            }
            &:hover{
                color: #E84545;
                transform: scale(1.1);
                transition-property: all 0.3s;
                transition-duration: 0.1s, 1s ;
                transition-delay: 0.1s;
            }
        }
        
    }
    
}




