.slider {
    max-width: 100%;
}
.slick-track{
    display: flex;
    align-items: flex-start;
}
.slick-list{
    overflow: hidden;
}
.slider_blocks{
    width: 100%;
    // position: absolute;
}
.slider_blocks .slick-dots {
    display: flex;
    align-items:flex-start;
    justify-content:left;
    border: 0px;
}
.slider_blocks .slick-dots li{
    list-style: none;
    margin: 0 5px;
    border: 0px;
}
.slider_blocks .slick-dots button{
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0.2;
    border: 1px;
    background-color: #ffffff;
    @media (max-width:940px){
        width: 10px;
        height: 10px; 
    }
    @media (max-width:610px){
        width: 8px;
        height: 8px; 
    }
    
}
.slider_blocks .slick-dots li.slick-active button{
    border: 1px;
    background-color: #ffffff;
}
.slider_item{
    min-width: 0;
    display: flex;
}
.slider_img{
    width: 50%;
}
.slider_block-text{
    width: 50%;
    padding-left: 80px;
    padding-top: 140px;
    background-color:#53354a;
    @media (max-width:1200px) {
    padding-left: 60px;
    padding-top: 60px;    
    }
    @media (max-width:940px) {
    padding-left: 30px;
    padding-top: 30px;    
    }
    @media (max-width:680px){
    padding-left: 20px;
    padding-top: 20px; 
    }
    @media (max-width:610px){
        padding-left: 15px;
        padding-top: 10px;    
    }
}
.slider-text{
    font-family: 'Cardo', serif;
    width: 500px;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    margin-bottom: 30px;
    @media (max-width:940px){
    font-size: 24px;  
    width: 400px;
    margin-bottom: 16px;
    }
    @media (max-width:830px){
    width: 330px;
    font-size: 20px;
    margin-bottom: 12px;
    }
    @media (max-width:680px){
        width: 270px;
        font-size: 18px;
        margin-bottom: 8px;   
    }
    @media (max-width:610px){
        width: 270px;
        font-size: 16px;
        margin-bottom: 6px;
    }
}
.slider-span{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    @media (max-width:940px){
    font-size: 12px;
    font-weight: 600;
    opacity: 0.5;
    }
    @media (max-width:610px){
        font-size: 10px;
    }
}